/* page styling */
* {
  box-sizing: border-box;
  font-family: Book Antiqua;
  margin: 0;
  padding: 0;
}
/*body styling*/
body {
  background-color: #a7c5eb;
}
/* headings color and placement*/
h1,
h3 {
  text-align: center;
  background-image: linear-gradient(#413c69, #4a47a3);
  color: #709fb0;
  margin: 0;
}
/* font color*/
h2 {
  color: #4a47a3;
}
/* button styles*/
.btn-primary {
  border-radius: 12px;
  background-color: #709fb0;
  color: #4a47a3;
  padding: 6px 5px;
  min-width: 13.5%;
  display: block;
  margin: 5px 0;
}
/* flex property containers*/
.page-container {
  display: flex;

  height: 100%;
}
/* search container width*/
.search-container {
  width: 20%;
}
/*results container width*/
.results-container {
  width: 80%;
}
/* forecast flex*/
.forecast {
  display: flex;
  flex-wrap: wrap;
}
/* current weather padding*/
.current-weather {
  padding: 20px;
}
/* card styles*/
.card {
  background-color: #7ba3d8;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}
