* {
  box-sizing: border-box;
  font-family: Book Antiqua;
  margin: 0;
  padding: 0;
}

body {
  background-color: #a7c5eb;
}
h1,
h3 {
  text-align: center;
  background-image: linear-gradient(#413c69, #4a47a3);
  color: #709fb0;
  margin: 0;
}

h2 {
  color: #4a47a3;
}

.btn {
  border-radius: 12px;
  background-color: #709fb0;
  color: #4a47a3;
  padding: 6px 5px;
  width: 13.5%;
  display: block;
  margin: 5px 0;
}

.page-container {
  display: flex;
  border: 1px solid black;
  height: 100%;
}

.search-container {
  border: 1px solid blue;
  width: 20%;
}

.results-container {
  border: 1px solid red;
  width: 80%;
}

.forecast {
  border: 2px solid hotpink;

  display: flex;
}

.current-weather {
  padding: 20px;
}

.card {
  background-color: #7ba3d8;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}
